---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-2">
    <div class="text-4xl w-full font-bold">Senne Dirkx

    </div>
  </div>

  <div class="mb-5 text-sm text-justify">
    📍 Brussels, Belgium
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Green Island"
      subtitle="Software Engineer L3"
      subsubtitle="From 06/2023 to present in Brussels, Belgium"
    >
    </TimeLineElement>
    <TimeLineElement
      subtitle="Software Engineer L2"
      subsubtitle="From 10/2022 to 05/2023 in Brussels, Belgium"
    >
      Part of the team building a extensible white-label solution for online casino operators.
    </TimeLineElement>
    <TimeLineElement
      title="Microsoft"
      subtitle="Software Engineer Intern"
      subsubtitle="From 06/2022 to 09/2022 in Prague, Czechia"
    >
      Part of the team developing a highly performance-critical backend service for messages and notifications in Teams and Skype.    </TimeLineElement>
    <TimeLineElement
      title="Amazon.com"
      subtitle="Software Development Engineer Intern"
      subsubtitle="From 06/2021 to 10/2021 in Barcelona, Spain"
    >
      Part of the team developing an internal monitoring tool used globally by Amazon OpsTechIT. Designed new features on the frontend and backend.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="MSc in Engineering: Computer Science"
      subtitle="2020 to 2022 at KU Leuven, Leuven, Belgium"
    />
    <TimeLineElement
      title="BSc in Engineering: Computer Science and Electronics"
      subtitle="2017 to 2020 at KU Leuven, Leuven, Belgium"
    />
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C#/.NET</li>
    <li>Java</li>
    <li>TypeScript</li>
    <li>JavaScript</li>
    <li>Go</li>
    <li>HTML/CSS</li>
    <li>React.js</li>
    <li>Next.js</li>
    <li>Svelte</li>
    <li>AWS</li>
    <li>SQL</li>
  </ul>
  <div class="mt-2 text-xs font-light">* However, I learn anything pretty quickly :D</div>
</BaseLayout>
