---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Senne Dirkx</div>
    <div class="text-3xl py-3 font-bold">Software Engineer</div>
    <div class="py-2">
      <text class="text-lg">
        I am passionate and highly motivated in all things related to software. I love to explore new technologies and keep learning. I enjoy both backend engineering as well as frontend design and development. 
      </text>
    </div>
    <div class="mt-8">
      <a class="btn btn-outline" href="https://www.linkedin.com/in/sennedirkx/" target="_blank">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <title>LinkedIn logo</title>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1 2.83783C1 2.35041 1.19363 1.88295 1.53829 1.53829C1.88295 1.19363 2.35041 1 2.83783 1H21.1611C21.4025 1 21.6415 1.04754 21.8644 1.1399C22.0874 1.23226 22.29 1.36763 22.4607 1.53829C22.6313 1.70895 22.7667 1.91155 22.8591 2.13452C22.9514 2.3575 22.999 2.59648 22.999 2.83783V21.1611C22.999 21.4025 22.9514 21.6415 22.8591 21.8644C22.7667 22.0874 22.6313 22.29 22.4607 22.4607C22.29 22.6313 22.0874 22.7667 21.8644 22.8591C21.6415 22.9514 21.4025 22.999 21.1611 22.999H2.83783C2.35041 22.999 1.88295 22.8053 1.53829 22.4607C1.19363 22.116 1 21.6486 1 21.1611V2.83783ZM9.70792 9.38711H12.687V10.884C13.1164 10.0232 14.2168 9.24961 15.8699 9.24961C19.0387 9.24961 19.7908 10.9628 19.7908 14.1063V19.9283H16.5826V14.8222C16.5826 13.0321 16.1532 12.0224 15.061 12.0224C13.5463 12.0224 12.9161 13.1109 12.9161 14.8222V19.9283H9.70792V9.38711ZM4.20818 19.7908H7.41637V9.24961H4.20818V19.7908ZM7.87468 5.81227C7.87468 6.08311 7.82133 6.3513 7.71769 6.60152C7.61404 6.85174 7.46212 7.0791 7.27061 7.27061C7.0791 7.46212 6.85174 7.61404 6.60152 7.71769C6.3513 7.82133 6.08311 7.87468 5.81227 7.87468C5.54144 7.87468 5.27325 7.82133 5.02303 7.71769C4.7728 7.61404 4.54545 7.46212 4.35393 7.27061C4.16242 7.0791 4.01051 6.85174 3.90686 6.60152C3.80322 6.3513 3.74987 6.08311 3.74987 5.81227C3.74987 5.26529 3.96716 4.74071 4.35393 4.35393C4.74071 3.96716 5.26529 3.74987 5.81227 3.74987C6.35926 3.74987 6.88384 3.96716 7.27061 4.35393C7.65739 4.74071 7.87468 5.26529 7.87468 5.81227Z" fill="currentColor"/>
        </svg> Let's connect</a>
      <a href="https://www.leastcycles.dev/" target="_blank" class="btn ml-5">
        <svg
          version="1.1"
          id="svg2"
          width="24"
          height="24"
          viewBox="550 340 880 650"
          xmlns="http://www.w3.org/2000/svg">
          <title>LeastCycles logo icon</title>
          <defs
            id="defs6">
            <clipPath
              clipPathUnits="userSpaceOnUse"
              id="clipPath16">
              <path
                d="M 0,1000 H 1500 V 0 H 0 Z"
                id="path14" />
            </clipPath>
          </defs>
          <sodipodi:namedview
            id="namedview4"
            pagecolor="#ffffff"
            bordercolor="#000000"
            borderopacity="0.25"
            inkscape:showpageshadow="2"
            inkscape:pageopacity="0.0"
            inkscape:pagecheckerboard="0"
            inkscape:deskcolor="#d1d1d1" />
          <g
            id="g8"
            transform="matrix(1.3333333,0,0,-1.3333333,0,1333.3333)">
            <g
              id="g10">
              <g
                id="g12"
                clip-path="url(#clipPath16)">
                <g
                  id="g18"
                  transform="translate(773.7422,473.2002)">
                  <path
                    d="m 0,0 c -13.031,-13.03 -34.157,-13.03 -47.188,0 -13.031,13.03 -13.031,34.158 0,47.188 8.147,8.147 19.459,11.199 29.977,9.158 L 126.551,173.74 9.158,29.978 C 11.199,19.459 8.147,8.147 0,0 m -231.627,-171.887 c -103.053,109.593 -103.053,281.376 0,390.97 l 33.441,-33.442 C -290.698,79.034 -206.805,-20.77 -84.681,16.775 -83.49,5.873 -79.432,-4.393 -72.884,-13.143 Z m 208.034,515.262 c -176.614,0 -319.788,-143.175 -319.788,-319.787 0,-176.614 143.174,-319.788 319.788,-319.788 176.612,0 319.787,143.174 319.787,319.788 0,176.612 -143.175,319.787 -319.787,319.787"
                    style="fill:#6527be;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path20" />
                </g>
                <g
                  id="g22"
                  transform="translate(924.7002,334.7832)">
                  <path
                    d="M 0,0 C 41.08,44.177 63.598,101.363 63.598,162.008 63.598,222.652 41.08,279.838 0,324.015 l 33.478,33.477 c 103.059,-109.594 103.059,-281.376 0,-390.969 z"
                    style="fill:#45ccde;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path24" />
                </g>
                <g
                  id="g26"
                  transform="translate(912.1533,671.3452)">
                  <path
                    d="m 0,0 c -44.112,41.007 -101.298,63.482 -162.007,63.482 -60.71,0 -117.896,-22.475 -162.008,-63.482 l -33.477,33.477 c 53.05,49.909 122.119,77.286 195.485,77.286 73.364,0 142.435,-27.377 195.484,-77.286 z"
                    style="fill:#dcd5e7;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path28" />
                </g>
                <g
                  id="g30"
                  transform="translate(750.146,211.4658)">
                  <path
                    d="m 0,0 c -73.365,0 -142.435,27.377 -195.484,77.293 l 33.477,33.478 C -117.831,69.69 -60.645,47.173 0,47.173 c 60.644,0 117.831,22.517 162.007,63.598 L 195.484,77.293 C 142.435,27.377 73.365,0 0,0"
                    style="fill:#45ccde;fill-opacity:1;fill-rule:nonzero;stroke:none"
                    id="path32" />
                </g>
              </g>
            </g>
          </g>
        </svg> My blog: least cycles
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Last project</div>
  </div>

  <HorizontalCard
    title="leastcycles.dev"
    img="/leastcycles.jpg"
    desc="Explore the world of software engineering and performance optimization with LeastCycles. Discover insightful articles on improving efficiency, reducing cycles, and mastering the art of software design."
    url="https://www.leastcycles.dev/"
    badge="NEW"
  />
  <div class="divider my-0"></div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
