---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects</div>
  </div>

  <HorizontalCard
    title="Spott"
    img="https://cdn.dirkxsenne.com/spott.avif"
    desc="Working on the next generation ATS & CRM for recruiting firms."
    url="https://spott.io/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="leastcycles.dev"
    img="https://cdn.dirkxsenne.com/leastcycles.webp"
    desc="Explore the world of software engineering and performance optimization with LeastCycles. Discover insightful articles on improving efficiency, reducing cycles, and mastering the art of software design."
    url="https://www.leastcycles.dev/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
</BaseLayout>
